APP_ENV=development
APP_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_NAME=geu_waste
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
UPLOAD_DIR=/app/uploads/payment-proofs
DB_CONNECT_TIMEOUT=5s
SHUTDOWN_TIMEOUT=10s
